* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-style: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* common */
.main-content {
  width: 1170px;
  max-width: calc(100vw - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  text-align: center;
}

.row {
  display: flex;
}

/* header */
.header .main-content {
  align-items: center;
}

.fixed {
  display: flex;
  position: sticky;
  z-index: 1;
  top: -40px;
  background: #fff;
  padding-bottom: 5px;
}

.header .body {
  margin-top: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .nav li a,
.header .action .btn-in {
  color: #2f3a3b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav .list {
  display: flex;
  margin-left: auto;
}

.nav a {
  display: flex;
}

.header ul .active {
  font-weight: 600;
}

.header ul:nth-child(1) {
  margin-left: 235px;
}

.header ul li {
  padding: 8px 19.5px;
}

.header .action {
  margin-left: auto;
}

.header .action .btn-in {
  padding: 12px;
}

.header .action .btn-up {
  padding: 12px 24px;
  color: #1ebfc1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
}

/* hero */
.hero .content {
  display: flex;
}

.main-hero {
  margin-top: 50px;
  margin-bottom: 79px;
}

.hero .info {
  width: 45%;
}
.hero .location {
  width: 55%;
}

.hero .content .img-hero {
  width: 100%;
  object-fit: cover;
  height: 631px;
}

.hero .location {
  position: relative;
}

.hero .abc {
  margin-top: 143px;
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero h1.title {
  margin-top: 18px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.17;
}

.hero .info p.desc {
  margin-top: 46px;
  color: #9da6a5;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
}

.hero .row {
  margin-top: 52px;
  align-items: center;
}

.hero .btn {
  margin-right: 50px;
  padding: 20px 41px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .btn-2 {
  padding: 13px 17px;
  border-radius: 50%;
  background: #ffffff;
}

.hero .location .local-1 {
  display: flex;
  position: absolute;
  align-items: center;
  top: 149px;
  left: -40px;
  padding: 20px 17.5px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .location .local-1 p {
  display: flex;
  align-items: center;
  margin-left: 16px;
  width: 55px;
  height: 30px;
}

.hero .location .rec {
  position: absolute;
  width: 28px;
  height: 4px;
  top: 45px;
  left: 22px;
}
/* schedules */
.schedules {
  position: absolute;
  top: 453px;
  left: -62px;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.schedules span {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.schedules .Ratio li {
  width: 74px;
  height: 6px;
  background: #edf1f5;
  margin: 12px 25px;
  border-radius: 3px;
}

.schedules .Ratio li.sub-ratio::before {
  position: absolute;
  content: "";
  width: calc((74px * var(--ratio, 30)) / 100);
  height: 6px;
  background: #fb9899;
  border-radius: 3px;
}

.schedules .Ratio li:last-of-type {
  width: 26px;
  height: 6px;
  margin: 16px 49px 23px;
}

/* students */

.hero .students {
  display: flex;
  position: absolute;
  top: 517px;
  right: 35px;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .students span {
  display: block;
  align-items: center;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 17px;
  margin-left: 35px;
}

.hero .students img {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  margin-left: -7px;
}

.hero .students .row {
  margin-top: 8px;
  margin-left: 40px;
}

/* features */
.features {
  margin-top: 130px;
}

.features .content {
  width: 1024px;
}

.features h2.title {
  color: #0d1111;
  font-size: 4.2rem;
  width: 577px;
  font-weight: 700;
  margin: 18px 0;
  line-height: 1.34;
}

.features p.desc {
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  width: 590px;
}

.features .row {
  margin-top: 80px;
  gap: 200px;
}

.features h3.title {
  margin-top: 26px;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
}

.features .sub-1 {
  width: 168px;
}

.features .sub-2,
.features .sub-3 {
  width: 223px;
}

.features .sub-desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.69;
  margin-top: 16px;
}

/* courses */

.courses {
  margin-top: 130px;
}

.courses h2.title {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  margin-top: 18px;
}

.courses .content p.desc {
  margin-top: 19px;
  width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
}

.courses .row {
  align-items: center;
}

.courses .row a {
  margin-left: auto;
  color: #1ebfc1;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.courses .content .column {
  width: 30.6%;
  position: relative;
}

.courses .content .column .img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 393px;
  position: relative;
}

.courses .row-2 {
  display: flex;
  justify-content: space-between;
}

.courses .content .circle-mini {
  width: 6px;
  height: 6px;
}

.courses .column h3.title {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  margin: 18px 0 16px;
}

.courses strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.courses .sp-desc .one {
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 6px;
}

.courses .sp-desc .two,
.courses .sp-desc .three {
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 6px;
}

.courses .row-mini {
  align-items: center;
  gap: 10px;
}

.courses .row-mini img {
  align-items: center;
  margin-top: 6px;
}

.courses .sp-desc {
  padding-left: 25px;
  position: absolute;
  bottom: -155px;
  left: 17px;
  display: block;
  width: 325px;
  height: 195px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

/* number */
.number {
  padding-top: 410px;
  padding-bottom: 264px;
}

.number strong {
  color: #0d1111;
  text-align: center;
  font-size: 6.2rem;
  font-weight: 700;
}

.number .main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number .content {
  width: 862px;
  justify-content: space-between;
}

.number .content .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number .content .column p {
  margin-top: 11px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
}

/* feedback */

.feedback .content {
  display: flex;
  padding-bottom: 50px;
}

.feedback .pain {
  margin-top: 37px;
}

.feedback .talk-courses {
  margin-top: 27px;
  width: 419px;
  color: #5d6564;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.feedback .sub-desc {
  margin: 33px 0 52px;
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
}

.feedback .sub-desc strong {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
}

.feedback .row {
  gap: 30px;
}

.feedback .row .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2ac9bf;
}

.feedback .embay {
  position: relative;
}

.feedback .embay .img-one {
  position: absolute;
  top: 100px;
  left: 310px;
}

.feedback .embay .img-one .one {
  width: 235px;
  height: 235px;
}

.feedback .embay img {
  object-fit: cover;
  border-radius: 50%;
}

.feedback .embay .img-two {
  position: absolute;
  top: 0px;
  left: 200px;
}

.feedback .embay .img-two .two {
  width: 92px;
  height: 92px;
}

.feedback .embay .img-three {
  position: absolute;
  top: 20px;
  left: 580px;
}

.feedback .embay .img-three .three {
  width: 110px;
  height: 110px;
}

.feedback .embay .img-four {
  position: absolute;
  top: 200px;
  left: 30px;
}

.feedback .embay .img-four .four {
  width: 78px;
  height: 78px;
}

.feedback .embay .img-five {
  position: absolute;
  bottom: -50px;
  left: 250px;
}

.feedback .embay .img-five .five {
  width: 78px;
  height: 78px;
}

.feedback .embay .img-six {
  position: absolute;
  bottom: 0;
  left: 580px;
}

.feedback .embay .img-six .six {
  width: 78px;
  height: 78px;
}

/* admit */
.admit {
  background: #def6f5;
  padding: 130px 0;
}

.admit h2.title {
  color: #070707;
  font-size: 4.2rem;
  font-weight: 700;
  padding: 10px 0;
}

.admit p.desc {
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
}

.admit .content .row {
  display: flex;
  align-items: center;
}

.admit .content .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 410px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 14px;
  background: #2ac9bf;
  min-width: 186px;
  height: 68px;
}

.admit .content .btn a {
  padding: 20px 41px;
}

/* footer */
.footer {
  margin-top: 130px;
}

.footer .column h3.title {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
}

.footer .content > .row {
  justify-content: space-between;
}

.footer .column li a,
.footer a.social {
  color: #535353;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer .column li:first-child {
  margin-top: 25px;
}

.footer .column li {
  margin: 20px 0;
}

.footer a.social {
  margin: 18px 9px;
}

.copyright {
  color: #b0b5b4;
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 80px 0 50px;
}
